@inherits CoverModel

<a href="/Movie/@Id">
    <div class="row">
        <img height="200" width="128" src="@(ImageSource)" alt="" class="img-fluid rounded-square"/>
    </div>
    <h6>@Name</h6>
</a>

@code{

}